<div class='account_page' id='account_page'>
  <div class='account_page__inner clearfix'>
    <div class='account_page__inner__left account_page__header'>
      <h2>Log in</h2>
      <h5>登録しているユーザーでログイン</h5>
      <%= render "devise/shared/links"%>
    </div>
    <div class='account_page__inner__right user_form'>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field_label'>
            <%= f.label :email%>
          </div>
          <div class='field_input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
          <div class='field'>
            <div class='field_label'>
              <%= f.label :password%>
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field_input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "Log in", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
