      <%= form_with model: [@room, @post] do |f| %>
        <div class="field">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_field :title, class:"title_field", id:"share_goals_title" %>
        </div>
        
        <div class="field">
          <%= f.label :memo, "メモ" %><br />
          <%= f.text_area :memo, class:"memo_field", id:"share_goals_memo" %>
        </div>

        <div class="field">
          <%= f.label :image, "画像" %><br />
          <div class="image_field">
            <%= f.file_field :image, class:"image_file_field", id:"share_goals_image" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :category_id, "カテゴリー" %><br />
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category_select", id:"share_goals_category"}) %>
        </div>

        <div class="field">
          <%= f.label :deadline_id, "期日" %><br />
          <%= f.collection_select(:deadline_id, Deadline.all, :id, :name, {}, {class:"deadline_select", id:"share_goals_deadline"}) %>
        </div>
        <div class="actions">
          <%= f.submit "投稿する", class: :form__btn  %>
        </div>
      <% end %>
