<%= form_with model: [@room, @post] do |form| %>
  <ul>
    タイトル
    <li><%= form.text_field :title %></li>
    メモ
    <li><%= form.text_field :memo %></li>
    カテゴリー
    <li><%= form.text_field :category %></li>
    期日
    <li><%= form.text_field :deadline %></li>
  </ul>
  <%= form.submit %>
<% end %>