<ul>
  <li>
    <%= @post.title %>
  </li>
  <li>
    <%= @post.memo %>
  </li>
  <li>
    <%= image_tag @post.image.variant(resize: '500x500'), class: 'post_image' if @post.image.attached? %>
  </li>
  <li>
    <%= @post.category %>
  </li>
  <li>
    <%= @post.deadline %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to '削除', "/rooms/room_id/posts/#{@post.id}" , method: :delete %>
  </li>
</ul>